
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
@section banner{
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Liên hệ với chúng tôi</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Liên hệ</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
}

<!-- End Banner Area -->
<!--================Contact Area =================-->
<section class="contact_area section_gap_bottom">
    <div class="container">
        <div style="margin-top: 80px; margin-bottom: 100px;box-sizing: border-box; display: block; float: none; line-height: 24px; position: relative; z-index: auto;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4783546109948!2d106.77000621537515!3d10.851174992270808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175270ad28d48ab%3A0xa6c02de0a7c40d6c!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBTxrAgUGjhuqFtIEvhu7kgVGh14bqtdCBUUC4gSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1575105580532!5m2!1svi!2s" width="1110" height="420" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Hồ Chí Minh, Việt Nam</h6>
                        <p>Đại học Sư Phạm Kỹ Thuật</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">84 (975) 834 928</a></h6>
                        <p>Thứ 2 - thứ 6, 9 am - 6 pm </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">ql9.lms@gmail.com</a></h6>
                        <p>Gửi phản hồi cho chúng tôi bất kỳ khi nào!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->
