<div class="login_form_inner">
    <h3>Đăng nhập để tiếp tục</h3>
    <div class="row login_form">
        <p id="error" style="color: red"></p>
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập">
        </div>
        <div class="col-md-12 form-group">
            <input type="password" class="form-control" id="password" placeholder="Mật khẩu">
        </div>
        <div class="col-md-12 form-group">
            <button type="submit" class="primary-btn" id="btn_submit">Đăng nhập</button>
            <a href="#" onclick="LoginByPhone()">Đăng nhập bằng số điện thoại</a>
            <a href="#" onclick="Forget()">Quên mật khẩu?</a>

        </div>
    </div>
</div>

@*popup xác nhận quên mật khẩu*@
<div class="modal fade" id="Forgot">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Quên mật khẩu</h3>
            </div>
            <div class="modal-body">
                <h4>Nhập địa chỉ Email để tiếp tục</h4>
                <h6 id="notifi" style="color:forestgreen;"></h6>
                <input type="email" id="mail" class="form-control" placeholder="Địa chỉ Email" />
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-light" data-dismiss="modal" id="r">Xác nhận</a>
                <a href="#" class="btn btn-gradient-primary mr-2" id="s" onclick="Get()">Gửi</a>
            </div>
        </div>
    </div>
</div>




@*popup đăng nhập bằng số điện thoại*@
<div class="modal fade" id="LoginByPhone">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Đăng nhập bằng số điện thoại</h3>
            </div>
            <div class="modal-body">
                <h4></h4>
                <h6 id="notifiPhoneNumber" style="color:forestgreen;"></h6>
                <input type="text" id="phonenumber" class="form-control" placeholder="Nhập số điện thoại" />
                <input type="password" id="otp" class="form-control"  placeholder="Nhập mã OTP" />
            </div>
            <div class="modal-footer">
                @*<a href="#" class="btn btn-light" onclick="CheckOTP()" data-dismiss="modal" id="SubmitLoginByPhone">Đăng nhập</a>*@
                <a href="#" class="btn btn-gradient-primary mr-2" id="SubmitLoginByPhone" onclick="CheckOTP()">Đăng nhập</a>
                <a href="#" class="btn btn-gradient-primary mr-2" style="margin-top: 10px;" id="s" onclick="SendOTP()">Gửi mã OTP</a>
            </div>
        </div>
    </div>
</div>







<script type="text/javascript">
    $("#otp").hide();
    $("#SubmitLoginByPhone").hide();
    function validateEmail(email) {
        const re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    var checkEmail2 = true;
    var pa = "";
    var phoneNumber = "";
    var OTP = "";
    $("#mail").change(function () {
        debugger;
        $("#mail").css('border-color', 'lightgrey');
        pa = $("#mail").val();
        var checkEmail = validateEmail(pa);
        checkEmail2 = true;
        debugger;
        if (checkEmail == false) {
            $('#mail').css('border-color', 'red');
            checkEmail2 = false;
        }
    })

    $("#phonenumber").change(function () {
        debugger;
        $("#phonenumber").css('border-color', 'lightgrey');
        $("#notifiPhoneNumber").html("");
        phoneNumber = $("#phonenumber").val();
        if (isNumeric(phoneNumber) == false || phoneNumber.length != 10) {
            $("#notifiPhoneNumber").html("Vui lòng nhập đúng định dạng số điện thoại");
            $("#notifiPhoneNumber").css('color', 'red');
            return;
        }
    })
    $("#otp").change(function () {
        debugger;
        $("#otp").css('border-color', 'lightgrey');
        OTP = $("#otp").val();
        //var checkPhoneNumber = validatePhonenumber(pa);
        //checkEmail2 = true;
        //debugger;
        //if (checkEmail == false) {
        //    $('#mail').css('border-color', 'red');
        //    checkEmail2 = false;
        //}
    })

    $("#btn_submit").on("click", function () {
        var username = $("#username").val();
        var password = $("#password").val();
        var error = $("#error");
        var ok = $("#ok");

        // resert 2 thẻ div thông báo trở về rỗng mỗi khi click nút đăng nhập
        error.html("");
        ok.html("");

        // Kiểm tra nếu username rỗng thì báo lỗi
        if (username == "") {
            error.html("Tên đăng nhập không được để trống");
            return false;
        }
        // Kiểm tra nếu password rỗng thì báo lỗi
        if (password == "") {
            error.html("Mật khẩu không được để trống");
            return false;
        }

        // Chạy ajax gửi thông tin username và password về server check_dang_nhap.php
        // để kiểm tra thông tin đăng nhập hợp lệ hay chưa
        $.ajax({
            url: "/Account/Login",
            method: "POST",
            data: { username: username, password: password },
            success: function (json) {
                if (json.isRedirect != 0) {
                    window.location.href = json.redirectUrl;
                }
                else {
                    error.html("Tài khoản hoặc mật khẩu không chính xác! Vui lòng kiểm tra lại");
                }
            }
        });

    });
    $("#username").on("click", function () {
        $("#error").html("");

    });
    $("#password").on("click", function () {
        $("#error").html("");

    });
    function LoginByPhone() {
        $("#LoginByPhone").modal();
        $("#notifi").html("");
        //$("#email").val("");
        //$("#s").show();
        //$("#r").hide();
    }
    function Forget() {
        $("#Forgot").modal();
        $("#notifi").html("");
        $("#email").val("");
        $("#s").show();
        $("#r").hide();
    }
    function isNumeric(num) {
        return !isNaN(num)
    }
    var SendOTP = function () {
        //   var email = $("#mail").val();
        if (phoneNumber == '') {
            alert('Vui lòng nhập số điện thoại');
            return;
        }

        if (isNumeric(phoneNumber) == false || phoneNumber.length != 10) {
            $("#notifiPhoneNumber").html("Vui lòng nhập đúng định dạng số điện thoại");
            $("#notifiPhoneNumber").css('color', 'red');
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Account/SendOTPLoginByPhone?phone=" + phoneNumber,
            success: function (json) {
                if (json.isRedirect == -2) {
                    alert(json.message);
                }
                if (json.isRedirect == 1) {
                    $("#otp").show();
                    $("#SubmitLoginByPhone").show();
                }
                if (json.isRedirect == -1)
                {
                    alert(json.message);
                    $("#notifiPhoneNumber").html("Số điện thoại không tồn tại");
                    $("#notifiPhoneNumber").css('color', 'red');
                    $("#s").hide();
                    $("#r").show();
                }
            }
        })
    }

    var CheckOTP = function () {
        if (OTP == '') {
            alert('Vui lòng nhập OTP');
            return;
        }
        debugger;
        //if (checkPhoneNumber == false) {
        //    debugger;
        //    alert('Vui lòng nhập đúng định dạng số điện thoại');
        //    return;
        //}
        $.ajax({
            type: "POST",
            url: "/Account/LoginByPhone?OTP=" + OTP,
            success: function (json) {
                if (json.isRedirect) {
                    window.location.href = json.redirectUrl;
                }
                else {
                    debugger;
                    $("#LoginByPhone").modal();
                    $("#notifiPhoneNumber").html("Mã OTP không chính xác");
                    $("#notifiPhoneNumber").css('color', 'red');
                    $("#LoginByPhone").show();
                    //$("#s").hide();

                    //$("#r").show();
                }
            }
        })
    }
    var Get = function () {
        //   var email = $("#mail").val();
        if (email = '') {
            alert('Vui lòng nhập Email');
            return;
        }
        debugger;
        if (checkEmail2 == false) {
            debugger;
            alert('Vui lòng nhập đúng định dạng Email');
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Account/ForgotPassword?Email=" + pa,
            success: function (json) {
                if (json.isRedirect) {
                    window.location.href = json.redirectUrl;
                }
                else {
                    $("#notifi").html("Email không tồn tại");
                    $("#notifi").css('color', 'red');
                    $("#s").hide();
                    $("#r").show();
                }
            }
        })
    }

</script>

