@model Web.Models.ViewModels.AccountVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section banner{
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Trang tài khoản</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/Account">Trang tài khoản</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
}

<section class="login_box_area section_gap">
    <div class="container">
        <div class="card-body">
            <h3>Thay đổi mật khẩu</h3>
            <h5 id="success" style="color: deepskyblue"></h5>
            <br />
            @Html.HiddenFor(m => m.IDMember, new { @id = "IDMember" })
            @Html.HiddenFor(m => m.UserName, new { @id = "user" })
            <div class="d-flex" style="float: left">
                <img style="border-radius: 50%;" src=@Url.Content("~/App_Img/profile/"+ Model.Avatar) alt="">
            </div>
            <h4 style="padding-top: 50px;padding-left: 150px;padding-bottom: 50px;"> @Html.DisplayFor(m => m.FullName)</h4>

            <br />
            <label>Mật khẩu hiện tại</label>
            <label id="notifii" style="color: firebrick"></label>
            @Html.PasswordFor(m => m.PassWord, new { @id = "pass", @Required = "", @class = "form-control", @placeholder = "Mật khẩu hiện tại" })
            <br />
            <label>Mật khẩu mới</label>
            <label id="notifiii" style="color: firebrick"></label>
            <input type="password" id="newpass" class="form-control" placeholder="Mật khẩu mới" />
            <br />
            <label>Nhập lại mật khẩu mới</label>
            <label id="notifi" style="color: firebrick"></label>
            <input type="password" id="renewpass" class="form-control" placeholder="Nhập lại mật khẩu mới" />
            <hr />
            <div class="form-group">
                <button class="primary-btn" id="Change">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="ChangeConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Xóa tài khoản</h4>
            </div>
            <div class="modal-body">
                <h4>Bạn có muốn xóa tài khoản này không?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-light" data-dismiss="modal" id="r">Hủy</a>
                <a href="#" class="btn btn-gradient-primary mr-2" onclick="ConfirmChange()">Xác nhận</a>
            </div>
        </div>
    </div>
</div>

<script>
    $("#pass").change(function () {
        $("#pass").css('border-color', 'lightgrey');
        var pa = $("#pass").val();
        var us = $("#user").val();
        var x = document.getElementById("notifii");
        x.style.display = 'none';
        document.getElementById("Change").disabled = false;

        $.ajax({
            type: "Post",
            url: "/Account/TestPassword?username=" + us + "&pass=" + pa,
            success: function (json) {
                if (!json.isRedirect) {
                    $("#pass").css('border-color', 'Red');
                    x.style.display = 'block'
                    $("#notifii").html("Mật khẩu không chính xác");
                    document.getElementById("Change").disabled = true; 
                }
            }
        })
    })

    $("#newpass").change(function () {
        $("#newpass").css('border-color', 'lightgrey');
        var pa = $("#newpass").val();
        var x = document.getElementById("notifiii");
        x.style.display = 'none';
        $.ajax({
            type: "Post",
            url: "/Account/CheckPassword?pass=" + pa,
            success: function (json) {
                if (json.isRedirect == 1) {
                    $("#newpass").css('border-color', 'Red');
                    x.style.display = 'block'
                    $("#notifiii").html("Mật khẩu phải chứa chữ in hoa");
                }
                if (json.isRedirect == 2) {
                    $("#newpass").css('border-color', 'Red');
                    x.style.display = 'block'
                    $("#notifiii").html("Mật khẩu phải chứa chữ in thường");
                }
                if (json.isRedirect == 3) {
                    $("#newpass").css('border-color', 'Red');
                    x.style.display = 'block'
                    $("#notifiii").html("Mật khẩu phải chứa kí tự số");
                }
                if (json.isRedirect == 4) {
                    $("#newpass").css('border-color', 'Red');
                    x.style.display = 'block'
                    $("#notifiii").html("Mật khẩu phải chứa kí tự đặc biệt");
                }
                if (json.isRedirect == 5) {
                    $("#newpass").css('border-color', 'Red');
                    x.style.display = 'block'
                    $("#notifiii").html("Mật khẩu phải dài hơn 8 kí tự");
                }
            }
        })
    })


    $("#renewpass").change(function () {
        $("#renewpass").css('border-color', 'lightgrey');
        var newpa = $("#newpass").val();
        var renewpa = $("#renewpass").val();
        var x = document.getElementById("notifi");
        x.style.display = 'none';
        if (newpa != renewpa) {
            $("#renewpass").css('border-color', 'Red');
            x.style.display = 'block'
            $("#notifi").html("Mật khẩu không khớp");
        }
        else {
            $("#renewpass").css('border-color', 'Green');
            x.style.display = 'none'
        }
    })

    $("#Change").click(function () {
        var x = document.getElementById("success");
        x.style.display = 'none';
        var id = $("#IDMember").val();
        var newpass = $('#newpass').val();
        var renewpass = $('#renewpass').val();
        $.ajax({
            type: "POST",
            url: "/Account/ChangePass?id=" + id + "&newpass=" + newpass + "&renewpass=" + renewpass,
            success: function (json) {
                if (json.isRedirect) {
                    //x.style.display = 'block'
                    //$("#success").html("Thay đổi mật khẩu thành công")
                    alert("Bạn đã cập nhật thành công mật khẩu!")
                }
                else {
                    alert("Có lỗi xảy ra. Vui lòng thử lại");
                }
            }
        })
    })
</script>

