@model Web.Models.Data.Member
@{
    ViewBag.Title = "TwoFac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section banner{
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Trang tài khoản</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/Account">Trang tài khoản</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
}

<section class="login_box_area section_gap">
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade active show">
                <h3 style="text-align:center; font-size:30px;">XÁC THỰC HAI YẾU TỐ VÀ ĐĂNG NHẬP BẰNG ĐIỆN THOẠI</h3>
                <h5 style="margin-top:20px;">Chúng tôi sẽ gửi cho bạn OTP để thực hiện xác thực hai lớp, hoặc bạn có thể lựa chọn đăng nhập qua OTP bằng số điện thoại đã đăng ký</h5>
                <h5 id="success" style="color: deepskyblue"></h5>
                <br />
                <div style="display:flex; margin:10px;" >
                    @if (Model.TwoFactor != 1)
                    {
                    <button type="button" id="turnoff" style="margin-left: 200px;" class="btn btn-warning">Tắt xác thực 2 yếu tố qua Email</button>
                    }
                    else
                    {
                        <button type="button" id="turnon" style="margin-left: 200px;" class="btn btn-success">Bật xác thực 2 yếu tố qua Email</button>
                    }
                    @*<h3>Đăng nhập bằng số điện thoại</h3>*@
                    @if (Model.IsLoginByPhone == true)
                    {
                        <button   id="turnoffLoginByPhone" type="button" style="margin-left: 250px;" class="btn btn-info">Tắt đăng nhập qua số điện thoại</button>
                    }
                    else
                    {
                        <button type="button" id="turnonLoginByPhone" style="margin-left: 250px;" class="btn btn-success">Bật đăng nhập qua số điện thoại</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("#turnoff").click(function () {
        $.ajax({
            type: "POST",
            url: "/Account/TwoFactor",
            success: function (json) {
                if (json.isRedirect) {
                    window.location.href = json.redirectUrl;
                }
                else {
                    alert("Mã OTP không chính xác, vui lòng xem lại!");
                }
            }
        })
    })

    $("#turnon").click(function () {
        $.ajax({
            type: "POST",
            url: "/Account/TwoFactor",
            success: function (json) {
                if (json.isRedirect) {
                    window.location.href = json.redirectUrl;
                }
                else {
                    alert("Mã OTP không chính xác, vui lòng xem lại!");
                }
            }
        })
    })

    $("#turnoffLoginByPhone").click(function () {
        $.ajax({
            type: "POST",
            url: "/Account/LoginByPhoneIsCheck",
            success: function (json) {
                if (json.isRedirect) {
                    window.location.href = json.redirectUrl;
                }
                else {
                    alert("Có lỗi xảy ra!!!");
                }
            }
        })
    })

    $("#turnonLoginByPhone").click(function () {
        $.ajax({
            type: "POST",
            url: "/Account/LoginByPhoneIsCheck",
            success: function (json) {
                if (json.isRedirect) {
                    window.location.href = json.redirectUrl;
                }
                else {
                    alert("Có lỗi xảy ra!!!");
                }
            }
        })
    })






</script>


