
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Resources/Admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Resources/Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Resources/Admin/css/style.css">
    <link href="~/Resources/Admin/css/AdminStyle.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Resources/Admin/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @{Html.RenderAction("Header", "InfoAdmin");}
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            @{Html.RenderAction("Sidebar", "InfoAdmin");}
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">QTV</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Resources/Admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Resources/Admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Scripts/plugins/ckfinder/ckfinder.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Resources/Admin/js/off-canvas.js"></script>
    <script src="~/Resources/Admin/js/hoverable-collapse.js"></script>
    <script src="~/Resources/Admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/Resources/Admin/js/chart.js"></script>
    <script src="~/Resources/Admin/js/dashboard.js"></script>
    <script src="~/Resources/Admin/js/todolist.js"></script>
    <!-- End custom js for this page -->
    @RenderSection("scripts", required: false)
    @RenderSection("UpdateAvatar", required: false)
</body>
</html>