
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/mustache.min.js"></script>
    <script src="~/Scripts/controller/importbillController.js"></script>
}

<!-- Page Heading -->
<head>
    <title>Admin | ImportBill</title>
</head>
<!-- DataTales Example -->
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary col-md-12">Danh sách hóa đơn nhập khẩu</h6>
            </div>
            <div class="card-body" style="padding-top:10px">
                <div class="table-striped">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>
                                    Tìm kiếm:
                                    <input id="txtSearch" type="text" class="form-control form-control-sm" aria-controls="dataTable" style="display:inline-block;width:auto" />
                                    <button class="btn btn-success" id="btnSearch"><i class="mdi mdi-account-search"></i></button>
                                    <button class="btn btn-success" id="btnReset">Reset</button>
                                </label>
                            </div>
                        </div>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã hóa đơn nhập khẩu</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Mã nhà cung cấp</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody id="tblDataImport"></tbody>
                        </table>
                        <div id="pagination" class="pagination"></div>
                        <div>
                            <button class="btn btn-success" id="btnExport">Export</button>
                        </div>
                        <script id="data-template-import" type="x-tmpl-mustache">
                            <tr>
                                <td>{{IDImport}}</td>
                                <td>{{Price}}</td>
                                <td>{{Amount}}</td>
                                <td>{{IDSupplier}}</td>
                                <td>
                                    <button class="btn btn-light btnDetail" data-id="{{IDImport}}"><i class="mdi mdi-eye"></i>Detail</button>
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modalAddUpdate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Detail Import</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã chi tiết hóa đơn nhập khẩu</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                        </tr>
                    </thead>
                    <tbody id="tblDataDetailImport"></tbody>
                </table>
                <div id="pagination" class="pagination"></div>
                <script id="data-template-detailimport" type="x-tmpl-mustache">
                    <tr>
                        <td>{{IDDetailImport}}</td>
                        <td>{{IDProduct}}</td>
                        <td>{{NameProduct}}</td>
                        <td>{{Amount}}</td>
                        <td>{{Price}}</td>
                    </tr>
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="modalExport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Export Excel</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" id="frmSave">
                    <div class="form-group">
                        <label for="txtFileName">Tên file</label>
                        <input type="text" class="form-control" id="txtFileName" name="txtFileName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" id="btnPrint" data-dismiss="modal">Export</button>
            </div>
        </div>

    </div>
</div>