@model Web.Models.ViewModels.WarehouseVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/WarehouseStaff/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kho hàng sản phẩm</h4>
            <a href="#" class="btn btn-info" onclick="Add(0)">Thêm kho hàng mới</a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Địa chỉ</th>
                        <th> Tổng số</th>
                        <th> Thao tác (Sửa)</th>
                        <th> Thao tác (Xóa)</th>
                    </tr>
                </thead>
                <tbody id="SetList">
                    <tr id="LoadingStatus" style="color:red"></tr>
                </tbody>
            </table>
        </div>
    </div>

    @*Create A Popup Modal With Registration Form For Add Or Edit Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form class="forms-sample" id="form" enctype="multipart/form-data">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.IDWareHouse, new { @id = "IDWareHouse" })
                            <div class="form-group">
                                <label for="Address">Địa chỉ</label>
                                @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @placeholder = "Địa chỉ" })
                            </div>
                            <div class="form-group">
                                <label for="Amount">Tổng số</label>
                                @Html.TextBoxFor(m => m.Amount, new { @id = "Amount", @class = "form-control", @placeholder = "Tổng số"  })                                
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-gradient-primary mr-2" id="SaveRecord">Lưu</button>
                    <button class="btn btn-light" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Xóa kho hàng</h4>
                </div>
                <div class="modal-body">
                    <h4>Bạn có muốn xóa kho hàng này không?</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-light" data-dismiss="modal" id="r">Hủy</a>
                    <a href="#" class="btn btn-gradient-primary mr-2" onclick="ConfirmDelete()">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
   
    $("#LoadingStatus").html("Loading....");
    $.get("/Warehouse/GetList", null, DataBind);
    function DataBind(List) {
        var SetData = $("#SetList");
        for (var i = 0; i < List.length; i++) {
            var Data =
                "<tr class='row_" + List[i].IDWareHouse + "'>" +
                "<td>" + List[i].Address + "</td>" +
                "<td>" + List[i].Amount + "</td>" +
                "<td>" +
                "<a href='#' class='btn btn-warning' onclick='EditRecord(" + List[i].IDWareHouse + ")' ><span class='mdi mdi-table-edit'></span></a>" +
                "</td>" +
                "<td>" +
                "<a href='#' class='btn btn-danger' onclick='DeleteRecord(" + List[i].IDWareHouse + ")'><span class='mdi mdi-delete'></span></a>" +
                "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");
        }
    }

    //Show The Popup Modal For Add

    function Add(IDWareHouse) {
        $("#form")[0].reset();
        $("#IDWareHouse").val(0);
        $("#ModalTitle").html("Thêm kho hàng mới");
        $("#MyModal").modal();
    }

    //Show The Popup Modal For Edit Record

    function EditRecord(IDWareHouse) {
        var url = "/Warehouse/GetById?Id=" + IDWareHouse;
        $("#ModalTitle").html("Sửa kho hàng");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#IDWareHouse").val(obj.IDWareHouse);
                $("#Address").val(obj.NameWareHouse);
                $("#Amount").val(obj.Amount);
            }
        })
    }

    $("#SaveRecord").click(function () {
        var res = validate();
        if (res == false) {
            return false;
        }
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Warehouse/SaveDataInDatabase",
            data: data,
            success: function (result) {
                window.location.href = "/WarehouseStaff/Warehouse/Index";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteRecord = function (Id) {
        $("#IDWareHouse").val(Id);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var IDWareHouse = $("#IDWareHouse").val();
        $.ajax({
            type: "POST",
            url: "/Warehouse/DeleteRecord?Id=" + IDWareHouse,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + IDWareHouse).remove();
            }
        })
    }

    function validate() {
        var isValid = true;
        if ($('#Address').val().trim() == "") {
            $('#Address').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Address').css('border-color', 'lightgrey');
        }
        if ($('#Amount').val().trim() == "") {
            $('#Amount').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Amount').css('border-color', 'lightgrey');
        }
        return isValid;
    }
</script>

