
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section banner{
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>404 not found</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/Home">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Error</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
}

<section class="features-area section_gap">
    <div class="container">
        <h1>Trang bạn yêu cầu không tồn tại</h1>
    </div>
</section>

