@model Web.Models.Data.DetailOrder
@{
    ViewBag.Title = "ViewOrders";
    Layout = "~/Areas/SalesMan/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/plugin/mustache.js"></script>
<script src="~/Scripts/plugin/jquery.twbsPagination.min.js"></script>
<script src="~/Scripts/Controller/ViewOrderController.js"></script>

<div class="card" style="zoom:0.75">
    <div class="card-body">

        <h4 class="card-title" style="text-align:center; color: orangered;font-size:30px;margin-bottom:20px;">Quản lý đơn hàng</h4>
        <hr width="50%" align="center" style="color:blue; line-height:2px;" />
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="zoom:1.5">
                <a style="text-align:center;color:orange;width:100px;" class="nav-item nav-link active btnstatus" data-status="10" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tất cả       </a>
                <a style="text-align:center;width:100px;" class="nav-item nav-link btnstatus" data-status="1" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Chờ xác nhận</a>
                <a style="text-align:center;width:100px;" class="nav-item nav-link btnstatus" data-status="2" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Chờ lấy hàng</a>
                <a style="text-align:center;width:100px;" class="nav-item nav-link btnstatus" data-status="3" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Đang giao</a>
                <a style="text-align:center;width:100px;" class="nav-item nav-link btnstatus" data-status="4" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Đã giao</a>
                <a style="text-align:center;width:100px;" class="nav-item nav-link btnstatus" data-status="0" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Đã hủy</a>
                <a style="text-align:center;width:140px;" class="nav-item nav-link btnstatus" data-status="5" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Trả hàng/Hoàn tiền</a>

            </div>
        </nav>
        <br />
        <br />


        <p id="idSLDon" style="color:orange; font-size:20px; text-align:left;"> </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td style="font-size:20px!important;">Mã đơn đặt hàng</td>
                    <td style="font-size:20px!important;">Ngày đặt hàng</td>
                    <td style="font-size:20px!important;">Tên khách hàng</td>
                    <td style="font-size:20px!important;">Tình trạng đơn hàng</td>
                    <td style="font-size:20px!important;text-align:center;">Thao tác</td>
                </tr>
            </thead>
            <tbody id="tblData"></tbody>

        </table>
        <div id="pagination" class="pagination" style="zoom:130%">
        </div>
        <script id="data-template" type="x-tmpl-mustache">
            <tr>
                <td style="font-size:20px!important;">{{IDOrder}}</td>
                <td style="font-size:20px!important;">{{OrderedDate}}</td>
                <td style="font-size:20px!important;">{{NameCus}}</td>
                <td style="font-size:20px!important;">{{StatusOrder}}</td>
                <td>
                    <button class="btn btn-primary btn-Edit" style="margin-right:0px;" data-id="{{IDOrder}}">Xem chi tiết đơn hàng</button>
                    <button class="btn btn-danger btn-Update" style="margin-right:0px;" data-id="{{IDOrder}}">Duyệt đơn hàng</button>
                </td>
            </tr>
        </script>
    </div>
</div>